/* -------------------------------
            共通設定
------------------------------- */
@charset "UTF-8";

@font-face {
    font-family: "himaji";
    src: local("Trickster"), url("../font/KFhimaji.otf") format("opentype");
}

/* 色のプリセット */
:root {
    --color-dark-brown: #402900;
    --color-brown: #6C4A0A;
    --color-mugicha: #966614;
    --color-kitune: #D39526;
    --color-light-brown: #E1D1B0;
    --color-biscuit: #F8E0BC;
    --color-bule: #1386A1;
}
:root {
    --bgc-brown: #A38455;
    --bgc-light-brown: #D5C1A0;
}

/* フォントのプリセット */
:root {
    --font-size-small: min(3.2vw, 20px);   /* 375px幅で12px */
    --font-size-medium: min(3.7vw, 28px);  /* 375px幅で14px */
    --font-size-large: min(5.3vw, 42px);   /* 375px幅で20px */
    --font-size-title: min(10vw, 80px);    /* 375px幅で40px */
}

/* 空白のプリセット */
:root {
    --spacing-small: min(3.2vw, 60px);     /* 375px幅で12px */
    --spacing-medium: min(6.4vw, 120px);    /* 375px幅で24px */
    --spacing-large: min(12vw, 225px);     /* 375px幅で45px */
}




/* -------------------------------
            共通部分
------------------------------- */
body {
    font-family:"himaji", sans-serif;
    color: var(--color-dark-brown);
    font-size: var(--font-size-medium);
}
img {
    max-width: 100%;
}
.flex{
    display: flex;
}
.btn {
    border-radius: 100vw;   /* 短いほうで自動成型 */
    padding: min(1vw, 20px) min(2vw, 30px);
}
.content-wrap{
    max-width: min(100%, 1300px);
    margin-inline: auto;
    padding-inline: 24px;
}
.position-parent{
    position: relative;
}
.position-child{
    position: absolute;
}
.grid{
    display: grid;
}



/* -------------------------------
            本体部分
------------------------------- */

/* ヘッダー
------------------------------- */
header {
    background-color: var(--bgc-brown);
    padding: min(1.5vw, 25px);
}
.header-title {
    font-size: var(--font-size-large);
    letter-spacing: 0.05em;
    text-shadow: var(--color-biscuit) min(0.16vw, 1px) min(0.16vw, 1px) 0px, var(--color-biscuit) max(-0.16vw, -1px) min(0.16vw, 1px) 0px, var(--color-biscuit) min(0.16vw, 1px) max(-0.16vw,-1px) 0px, var(--color-biscuit) max(-0.16vw, -1px) max(-0.16vw,-1px) 0px;
}

.nav-flex{
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    gap: 1vw;
}
.btn--nav-list {
    background-color: var(--color-biscuit);
}
.btn--nav-list:hover {
    filter: brightness(90%);
}

/* メイン
------------------------------- */
main {
    background-color: var(--bgc-light-brown);
}
/* 見出し*/
section {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-medium);
    text-align: center;
}
.title--sec {
    margin-bottom: var(--spacing-medium);
    letter-spacing: 0.05em;
    color: var(--color-mugicha);
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-size-title);

}


/*----- gameセクション -----*/
.game-area {
    width: 100%;    /* pcでは1200px */
    aspect-ratio: 2/1;
    background-color: var(--color-dark-brown);
}

.door {
    right: 30%;
    bottom: 0;
    width: min(13vw, 80px); /* 375px幅で50pxくらい */
    border-bottom: #D39526;
}
.door::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: min(18.5vw, 120px);  /* 375px幅で70pxくらい */
    height: min(1vw, 5px);    /* 375px幅で3.8pxくらい */
    background-color: var(--color-kitune);
}

.key {
    left: 30%;
    bottom: 0;
    width: min(4vw, 25px); /* 375px幅で15px */
    display: inline-block;
}

/*----- workセクション -----*/


/*----- skillセクション -----*/

.list--skill-sec .grid {
    text-align: center;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: min(2vw, 50px); /* 375px幅で7.5px */
}
.title--skill-group {
    grid-row: 1/1;
    grid-column: 1/4;
}
.list--skill-group__c {
    grid-row: 2/3;
    grid-column: 1/2;
}
.list--skill-group__html {
    grid-row: 2/3;
    grid-column: 2/3;
}

.list--skill-group__css {
    grid-row: 2/3;
    grid-column: 3/4;
}

/* 余白の設定 */
.group--skill-list{
    margin-block: var(--spacing-small);
}
.title--skill-group{
    margin-block: var(--spacing-small);
}
.img--skill-list-body {
    margin-block: var(--spacing-small);
}

/*見た目の装飾*/
.group--skill-list{
    background-color: var(--bgc-brown);
    padding: 2vw;
}
.title--skill-group {
    font-size: var(--font-size-large);
    text-shadow: var(--color-biscuit) min(0.16vw, 1px) min(0.16vw, 1px) 0px, var(--color-biscuit) max(-0.16vw, -1px) min(0.16vw, 1px) 0px, var(--color-biscuit) min(0.16vw, 1px) max(-0.16vw, -1px) 0px, var(--color-biscuit) max(-0.16vw, -1px) max(-0.16vw, -1px) 0px;
}
.list--skill-group {
    border: 2px solid var(--color-biscuit);
    padding: min(2vw,20px);
}
.title--skill-list{
    height: min(20vw, 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.img--skill-list-body {
    margin-inline: auto;
    background-color: var(--bgc-light-brown);
    padding: min(2vw,10px);     /* 375px幅7.5pxくらい */
    width: min(16vw, 100px);    /* 375px幅60pxくらい */
    height: min(16vw, 100px);   /* 375px幅で60pxくらい */
    border-radius: 50%;
}

.img--skill-list-body img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* profileセクション */


/* フッター
------------------------------- */
footer {
    background-color: var(--bgc-brown);
}
.copy-right {
    text-align: center;
}

.copy-right small {
    /* letter-spacing: 0; */
    font-size: var(--font-size-small);
    text-shadow: none;
}



/* -------------------------------
    ブレイクポイント（768px）
------------------------------- */ 
@media (width <=768px) {

    .header-title {
        font-size: var(--font-size-medium);
    }

    /* ヘッダー
------------------------------- */
    nav {
        font-size: var(--font-size-small);
    }

    /* メイン
------------------------------- */
    .game-area {
        height: 70%;
        aspect-ratio: 2/3;
        background-color: var(--color-dark-brown);
    }

    /* フッター
------------------------------- */

}